{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

<div class="home-banner d-flex align-items-center">
    <div class="container text-right">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <h1 class="display-4 text-light">Explorez le monde des figures de snow</h1>
                <p class="lead text-light">Découvrez et maîtrisez les figures emblématiques des riders !</p>
                <a href="#tricks" class="btn btn-primary btn-lg">Voir les figures</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2 class="mb-4" id="tricks">Liste des tricks</h2>
    <div style="margin-bottom: 50px;"></div>

    <div class="row">
        <!-- Affichage des 8 premiers tricks -->
        {% for trick in tricks[:8] %}
            <div class="col-md-3">
                <div class="card mb-4">
                    {% if trick.images|length > 0 %}
                        <img src="{{ asset(trick.images[0].imgURL) }}" class="card-img-top img-fluid" alt="{{ trick.name }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ trick.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Affichage des autres tricks masqués par défaut -->
    <div class="row d-none" id="extra-tricks"> <!-- Utilisation de la classe 'd-none' de Bootstrap -->
        {% for trick in tricks[8:] %}
            <div class="col-md-3">
                <div class="card mb-4">
                    {% if trick.images|length > 0 %}
                        <img src="{{ asset(trick.images[0].imgURL) }}" class="card-img-top img-fluid" alt="{{ trick.name }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ trick.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Bouton Voir plus -->
    {% if tricks|length > 8 %}
        <button id="show-more-btn" class="btn btn-primary mt-4">Voir plus</button>
    {% endif %}
</div>

<!-- Flèche de retour en haut -->
<a href="#tricks" class="scroll-to-top down" title="Descendre vers les tricks"><i class="fa-solid fa-arrow-down-long"></i></a>
<a href="#top" class="scroll-to-top up" title="Retour en haut"><i class="fa-solid fa-arrow-up-long"></i></a>

{% endblock %}
