{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 89vh;">
    <div class="col-md-4">

        {# Erreurs --> Vérification email #}
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>

        {{ form_errors(registrationForm) }} {# Affiche les erreurs #}

        {{ form_start(registrationForm) }}

        {# Pseudo #}
        <div class="mb-3">
            {{ form_row(registrationForm.username, {
                'label': 'Pseudo',
                'attr': {'class': 'form-control'}
            }) }}
        </div>

        {# Email #}
        <div class="mb-3">
            {{ form_row(registrationForm.email, {
                'label': 'Email',
                'attr': {'class': 'form-control'}
            }) }}
        </div>

        {# Password #}
        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                'label': 'Mot de passe',
                'attr': {'class': 'form-control'}
            }) }}
        </div>

        <div class="mb-3">
            {# Case à cocher pour accepter les conditions d'utilisation #}
            <div class="form-check">
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {'class': 'form-check-input'}
                }) }}
                <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}" style="margin-left: 0.5rem;">
                    Accepter les conditions d'utilisation
                </label>
            </div>
        </div>

        {# Bouton Register #}
        <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
