{% extends 'base.html.twig' %}

{% block title %}Édition du trick{% endblock %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center align-items-center flex-column" style="height: auto;">
    <h2 class="mb-4 text-center">Éditer le trick : {{ trick.name }}</h2>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="mb-3">
                <p class="mb-1">Nom</p>
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom du trick'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <p class="mb-1">Catégorie</p>
                {{ form_widget(form.category, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la catégorie'}}) }}
                {{ form_errors(form.category) }}
            </div>
        </div>
    </div>

    <div class="mb-3">
        <p class="mb-1">Description</p>
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Décrivez le trick ici...', 'rows': 5}}) }}
        {{ form_errors(form.content) }}
    </div>

    <div class="mb-3">
        <p class="mb-1">Images</p>

        <div class="input-group mb-3">
            {{ form_widget(form.image1, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="input-group mb-3">
            {{ form_widget(form.image2, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>


    <div class="mb-4">
        <p class="mb-1">Vidéos</p>

        <div class="input-group mb-3">
            {{ form_widget(form.video1, {'attr': {'class': 'form-control'}}) }}
            <button type="button" class="btn btn-danger remove-video" data-video="1">Supprimer</button>
        </div>

        <div class="input-group mb-3">
            {{ form_widget(form.video2, {'attr': {'class': 'form-control'}}) }}
            <button type="button" class="btn btn-danger remove-video" data-video="2">Supprimer</button>
        </div>
    </div>


    <button type="submit" class="btn btn-success">Mettre à jour le trick</button>

    {{ form_end(form) }}
</div>


{% endblock %}